* {
	box-sizing: border-box;
	&::before {
		box-sizing: border-box;
	}
	&::after {
		box-sizing: border-box;
	}
}

html {
	font-size: 100%;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-image: url(https://unsplash.it/3840/2160);
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.8);
	background-blend-mode: multiply;
	font-family: 'Lato', sans-serif;
	height: 100vh;
	color: #fff;
}

h1 {
	font-size: 1.7rem;
}

.container {
	max-width: 800px;
	width: 100%;
	margin: auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.flex-container {
	display: flex;
}

.flex {
	position: relative;
	box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.3);
}

.search-input {
	border: 1.5px solid #dedede;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	font-size: 14px;
	padding: 8px 10px;
	margin: 0;
	width: 350px;
	padding-left: 3.75rem;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	&::placeholder {
		font-style: italic;
	}
	&:focus {
		outline: none;
	}
}

button {
	border: 1.5px solid #dedede;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	font-size: 14px;
	padding: 8px 10px;
	margin: 0;
}

.search-btn {
	position: absolute;
	left: 0;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-left: 0;
	border-radius: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.random-btn {
	cursor: pointer;
	margin-left: 0.5rem;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border: none;
	padding: 0 0.75rem;
}

.meals {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.2rem;
	margin-top: 20px;
}

.meal {
	cursor: pointer;
	position: relative;
	height: 180px;
	width: 180px;
	text-align: center;
	transition: all 0.3s ease-in;
	img {
		width: 100%;
		height: 100%;
		border: 4px #fff solid;
		border-radius: 2px;
	}
	&:hover {
		transform: translateY(-.33rem);
	}
}

.meal-info {
	position: absolute;
	font-size: 0.8rem;
	inset: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
	&:hover {
		opacity: 1;
	}
}

.single-meal {
	margin: 30px auto;
	width: 70%;
	img {
		width: 300px;
		margin: 15px;
		border: 4px #fff solid;
		border-radius: 2px;
	}
	p {
		margin: 0;
		letter-spacing: 0.5px;
		line-height: 1.5;
	}
	ul {
		padding-left: 0;
		list-style: none;
		li {
			border: 1px solid #ededed;
			border-radius: 5px;
			background-color: #fff;
			display: inline-block;
			color: #2d2013;
			font-size: 12px;
			font-weight: bold;
			padding: 5px;
			margin: 0 5px 5px 0;
		}
	}
}

.single-meal-info {
	margin: 20px;
	padding: 10px;
	border: 2px #dedede dashed;
	border-radius: 5px;
}

@media screen and (max-width: 1200px) {
	.meals {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
		margin-top: 20px;
	}
}

@media screen and (max-width: 768px) {
	.meals {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
		margin-top: 20px;
	}
	.meal {
		height: 200px;
		width: 200px;
	}
}

@media screen and (max-width: 450px) {
	.search-input {
		width: 100%;
	}
	.meals {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		margin-top: 20px;
	}
	.meal {
		height: 300px;
		width: 300px;
	}
}
